<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8666c9c1-166b-4b63-90fa-b7c7a56cd034/resourcegroups/apiaguapontogroup/providers/Microsoft.Web/sites/apiaguaponto</ResourceId>
    <ResourceGroup>apiaguapontogroup</ResourceGroup>
    <ApiResourceId>/subscriptions/8666c9c1-166b-4b63-90fa-b7c7a56cd034/resourceGroups/apiaguapontogroup/providers/Microsoft.ApiManagement/service/apiaguapontoapi/apis/apiaguaponto</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiaguaponto.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>6ad63c49-ef25-4060-8d5a-8b12ddf5986c</ProjectGuid>
    <MSDeployServiceURL>apiaguaponto.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>apiaguaponto</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$apiaguaponto</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>